<div class="signers-list">
    <h2>The {{data.length}} participants </h2>
    <div class="ul-list">

        <ul>
            {{#data}}
            <li>

                {{#if url}}

                <a href="{{url}}">{{first}} {{last}}</a>

                {{else}}

                {{first}} {{last}}
                {{/if}}

                {{#if age}}
                {{age}}
                {{/if}}

                {{#if ../signersView}}

                <a href="/signers/{{city}}">{{city}}</a>

                {{/if}}

            </li>

            {{/data}}

        </ul>
    </div>

</div>